includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/pepakriz/phpstan-exception-rules/extension.neon
parameters:
    level: 6
    tmpDir: var/cache/phpstan
    paths:
        - app/
        - src/
        - tests/
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - 'LogicException'
            - 'RuntimeException'
    excludes_analyse:
        - tests/_support/_generated/
    inferPrivatePropertyTypeFromConstructor: true
    bootstrapFiles:
        - vendor/codeception/codeception/autoload.php
